.home-page{
    .first{
        position: absolute;
        top:5rem;
    }
    .second{
        position: absolute;
        bottom:20rem;
    }
    .third{
        position:absolute;
        top: 5rem;
        right:1rem;
    }
    .forth{
        position:absolute;
        bottom:20rem;
        right:1rem;
    }
}